<%- include('partials/header'); -%>


    <div class="center-body">

        <div class="all-pokomons">
            <div class="pokomon-cont">
                <div class="pokomon-image">
                    <img src="/IMG/pokomon.png" alt="A picture of a chinpokomon">
                </div>
                <div class="pokomon-content">
                    <h1>Name of Chinpoko</h1>
                    <h2>Abilities:</h2>
                    <p>1 - puff</p>
                    <p>2 - slime</p>
                    <p>3 - rock hard</p>
                    <p class="author-para">name of author</p>
                </div>

            </div>

        </div>

    </div>
    <div class="bottom-body">

    </div>
  </div>

<%- include('partials/footer'); -%>